<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.jetbrains.konan.KotlinNativeBase</string>
    <key>Targets</key>
    <array>
      <dict>
        <key>BuildPhases</key>
        <array>
          <dict>
            <key>Class</key>
            <string>ShellScript</string>
            <key>Name</key>
            <string>Compile Kotlin/Native</string>
            <key>ShellPath</key>
            <string>/bin/sh</string>
            <key>ShellScript</key>
            <string>if [ -z "$KOTLIN_NATIVE_BUILD_CAPABLE" ]; then
cd "$SRCROOT/Supporting Files"
sh -c ". gradlew buildForXcode"
fi
            </string>
          </dict>
        </array>
      </dict>
    </array>
    <key>Nodes</key>
    <array>
      <string>build.gradle.kts:content</string>
    </array>
    <key>Definitions</key>
    <dict>
      <key>build.gradle.kts</key>
      <dict>
        <key>Beginning</key>
        <string>plugins {
    kotlin("multiplatform") version "1.3.30"
    kotlin("xcode-compat") version "0.1"
}

repositories {
    mavenCentral()
}

kotlin {
    xcode {</string>
        <key>End</key>
        <string>    }
}</string>
        <key>Indent</key>
        <integer>2</integer>
        <key>Group</key>
        <string>Supporting Files</string>
        <key>TargetIdentifiers</key>
        <array/>
      </dict>
    </dict>
    <key>Components</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>com.jetbrains.konan.KotlinNativeSupportingFiles</string>
        <key>Name</key>
        <string>Supporting Files</string>
      </dict>
    </array>
  </dict>
</plist>
