#pathCanvas {
	width: 100%;
	height: 36em;
}

#control-tabs {
	display: block;
}

.btn {
	white-space: normal;
}

#coords-tooltip {
	display: none;
}

#pathCanvas:hover + #coords-tooltip {
	display: block;
	position: fixed;
	overflow: hidden;
}

/*#algos {
	padding: 1em;
}
*/
/*#controls {
	padding: 1em;
}
*/
/* Cells of manual controls grid */
/*#controls .col-md-4 {
	height: 4em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
*/
/*#controls .row {
	margin: 1em;
}
*/
/* Manual control buttons */
/*.control-btn {
	height: inherit;
	margin: 0;
	width: 100%;
}
*/
