[submodule "experiments/kotlin-ir"]
	path = backend.native/kotlin-ir
	url = https://github.com/JetBrains/kotlin.git
	branch = master
[submodule "third-party/ios/libffi"]
	path = third-party/ios/libffi
	url = https://github.com/ksjogo/libffi
