idea/idea.properties
examples/.idea/dictionaries
examples/.idea/workspace.xml
confluence/target
confluence/target
out
.idea/dictionaries/yozh.xml
.idea/codeStyleSettings.xml
.idea/workspace.xml
tmp
*TestMy.java
