**/testData/** linguist-vendored
*Generated.java linguist-generated=true
*.kt.txt linguist-language=Kotlin
*.klib_abi.txt linguist-language=Kotlin
* text=auto
* eol=lf
*.png binary
*.jar binary
compiler/cli/bin/* eol=lf
compiler/cli/bin/*.bat eol=crlf
gradlew.bat eol=crlf
compiler/testData/** eol=auto
*.jpg filter=lfs diff=lfs merge=lfs -text
