when (n) {
    1 -> {
        res = "one"
    }
    2 -> {
        res = "two"
    }
    else -> when (n) {
        3 -> {
            res = "thress"
        }
        4 -> {
            res = "four"
        }
        else -> {
            res = "???"
        }
    }
}