import kotlinx.html.InputType
import kotlinx.html.js.onChangeFunction
import org.w3c.dom.HTMLInputElement
import react.RBuilder
import react.RComponent
import react.RProps
import react.RState
#if($useStyledComponents)
import styled.css
import styled.styledDiv
import styled.styledInput
#else
import react.dom.div
import react.dom.input
#end

external interface WelcomeProps : RProps {
    var name: String
}

data class WelcomeState(val name: String) : RState

@JsExport
class Welcome(props: WelcomeProps) : RComponent<WelcomeProps, WelcomeState>(props) {

    init {
        state = WelcomeState(props.name)
    }

    override fun RBuilder.render() {
#if($useStyledComponents)
       styledDiv {
            css {
                +WelcomeStyles.textContainer
            }
#else
        div {
#end
            +"Hello, ${state.name}"
        }
#if($useStyledComponents)
        styledInput {
            css {
                +WelcomeStyles.textInput
            }
#else
        input {
#end
            attrs {
                type = InputType.text
                value = state.name
                onChangeFunction = { event ->
                    setState(
                        WelcomeState(name = (event.target as HTMLInputElement).value)
                    )
                }
            }
        }
    }
}
