# Copyright (c) 2018-2021 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

if BOARD_SLATE

config BOARD
	default "slate"

# MPU-based null-pointer dereferencing detection cannot
# be applied as the (0x0 - 0x400) is unmapped but QEMU
# will still permit bus access.
choice NULL_POINTER_EXCEPTION_DETECTION
	bool
	default NULL_POINTER_EXCEPTION_DETECTION_NONE if QEMU_TARGET
endchoice

if GPIO

config GPIO_CMSDK_AHB
	default y

endif # GPIO

if SERIAL

config UART_CMSDK_APB
	default y

config UART_INTERRUPT_DRIVEN
	default y

endif # SERIAL

config I2C_SBCON
	default y
	depends on I2C

endif

config USE_NEMA
	bool "Should use Slate pass on SLATE"
	default n

config DEBUG_MASK
	bool "Should print mask info during draw"
	default n

config DEBUG_DEST
	bool "Should print dest buffer during draw"
	default n

config IS_SLATE_EMULATOR
	bool "indicate if this is slate emulator"
	default n

config DISP_SIZE
	int "the display resolution"