Returns an array containing the constants of this enum type, in the order they're declared.

This method may be used to iterate over the constants.

The function returns a new instance of the array on every call.
The array could be mutated, so working with it may also require defensive copying.
Consider using `entries` property as a more efficient alternative returning an immutable list of enum entries.
