enum class Entry {
    FOO, BAR, BAZ
}

fun test(e: Entry): Int {
    return when (e) {
        <spot>Entry.FOO -> 1
        Entry.BAR -> TODO()
        Entry.BAZ -> TODO()
        else -> 0</spot>
    }
}