root = true

[*]
indent_size = 4
tab_width = 4
ij_continuation_indent_size = 8
ij_formatter_tags_enabled = false

[*.xml]
indent_size = 2
tab_width = 2

[*.java]
ij_java_align_multiline_parameters = false
ij_java_field_name_prefix = ""
ij_java_keep_simple_methods_in_one_line = false
ij_java_method_parameters_new_line_after_left_paren = true
ij_java_method_parameters_right_paren_on_new_line = true
ij_java_space_after_type_cast = true
ij_java_space_before_array_initializer_left_brace = true
ij_java_spaces_within_braces = false
ij_java_static_field_name_prefix = ""
ij_java_catch_on_new_line = false
ij_java_else_on_new_line = false
ij_java_finally_on_new_line = false

[{*.kt,*.kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL

[/intellij/**] # Affects only public github repo
indent_size = unset
tab_width = unset
ij_continuation_indent_size = unset
ij_formatter_tags_enabled = unset
ij_java_align_multiline_parameters = unset
ij_java_field_name_prefix = unset
ij_java_keep_simple_methods_in_one_line = unset
ij_java_method_parameters_new_line_after_left_paren = unset
ij_java_method_parameters_right_paren_on_new_line = unset
ij_java_space_after_type_cast = unset
ij_java_space_before_array_initializer_left_brace = unset
ij_java_spaces_within_braces = unset
ij_java_static_field_name_prefix = "unset
ij_java_catch_on_new_line = unset
ij_java_else_on_new_line = unset
ij_java_finally_on_new_line = unset
ij_kotlin_code_style_defaults = unset
