.jet {
  white-space: pre;
}

.jet.keyword {
  font-weight: bold;
  color: #369;
}

.jet.softkeyword {
  color: #369;
}

.jet.comment {
  color : green;
}

.jet.number {
  color : blue;
}
.jet.string {
  color : #000099;
}
.jet.escape {
  font-weight: bold;
  color : black;
}
.jet.label {
  color : blue;
}
.jet.field {
  color : blue;
  font-weight: bold;
}
.jet.bad {
  background-color : #FF9999;
  color:black;
}
.jet.error {
  background: url(underline.gif) bottom repeat-x;
  display:inline;
}
.jet.warning {
  background-color : #f5eabb;
  display:inline;
}
.jet.unresolved {
  color : red;
  display:inline;
}
