.jet {
  white-space: pre;
  display: inline;
}

.jet.keyword {
  font-weight: bold;
  color: #369;
}

.jet.softkeyword {
  color: #369;
}

.jet.comment {
  color : green;

}

.jet.number {
  color : blue;
}
.jet.string {
  color : #000099;
}
.jet.escape {
  font-weight: bold;
  color : black;
}
.jet.label {
  color : blue;
}
.jet.field {
  color : blue;
  font-weight: bold;
}
.jet.bad {
  background-color : #FF9999;
  color:black;
}
.jet.error {
  background: url(underline.gif) bottom repeat-x;
  display:inline;
}
.jet.warning {
  background-color : #f5eabb;
  display:inline;
}
.jet.unresolved {
  color : red;
  display:inline;
}

.jet.herror {
  background-color: #FFAAAA;
}
.jet.hwarning {
  background-color: #FFAAAA;
  display:inline;
}

.jet.ref:link    { color: black; }
.jet.ref:visited { color: black; }
.jet.ref:hover   { color:blue; text-decoration:underline; }
.jet.ref:active  { color:blue; text-decoration:underline; }

.jet.anchor:link    { }
.jet.anchor:visited { }
.jet.anchor:hover   { color:blue; text-decoration:underline; }
.jet.anchor:active  { color:blue; text-decoration:underline; }
