import io.ktor.application.call
import io.ktor.html.respondHtml
import io.ktor.http.HttpStatusCode
import io.ktor.routing.get
import io.ktor.routing.routing
import io.ktor.server.engine.embeddedServer
import ${serverEngine.getImport()}
#foreach($import in $imports)
import $import
#end
import kotlinx.html.*

fun HTML.index() {
    head {
        title("Hello from Ktor!")
    }
    body {
        div {
            +"Hello from Ktor"
        }
        #foreach($element in $elements)
        $element
        #end
    }
}

fun main() {
    embeddedServer(${serverEngine.getEngineName()}, port = 8080, host = "127.0.0.1") {
        routing {
            get("/") {
                call.respondHtml(HttpStatusCode.OK, HTML::index)
            }
            #foreach($route in $routes)
            $route
            #end
        }
    }.start(wait = true)
}