import path from "node:path";
import { fileURLToPath } from "node:url";

const __filename = fileURLToPath(import.meta.url);
const __dirname = path.dirname(__filename);

export default {
    mode: 'development',
    entry: {
        tests: path.resolve(__dirname, '{{testsEntryFile}}'),
    },
    output: {
        path: path.resolve(__dirname, '{{outputDir}}'),
        filename: '[name].bundle.js'
    },
    externals: {
        mocha: 'Mocha'
    },
    resolve: {
        modules: [
            path.resolve(__dirname, 'kotlin'),
            'node_modules'
        ]
    },
    target: 'web',
    devtool: 'source-map',
    module: {
        rules: [
            {
                test: /\.js$/,
                enforce: 'pre',
                use: ['source-map-loader'],
            },
            {
                test: /\.js$/,
                type: 'javascript/auto'
            },
        ]
    }
};
