<div class="hero-unit" xmlns="http://www.w3.org/1999/html">
<h1>Kotlin</h1>

<p>Kotlin is a statically typed programming language that compiles to JVM byte code and JavaScript.</p>

<iframe class="youtube-player" type="text/html" style="width: 500px; height: 300px"
    src="http://www.youtube.com/embed/0jBPcIPVihI" frameborder="0">
</iframe>

<!--
<p><a class="btn btn-primary btn-large" href="http://confluence.jetbrains.net/display/Kotlin/Welcome">Learn more &raquo;</a></p>
-->
</div>

<div class="row">
<div class="span4">

  <h2>Play</h2>
  <p>Try out Kotlin directly in your browser</p>
  <p><a class="btn" href="http://kotlin-demo.jetbrains.com/">Try Kotlin &raquo;</a></p>
</div>
<div class="span4">
  <h2>Learn</h2>
   <p>Check out the <a href="http://confluence.jetbrains.net/display/Kotlin/Welcome">docs</a>
       to see how Kotlin looks or <a href="versions/snapshot/apidocs/index.html">the API</a>
       to see how we make the JDK kool through
       <a href="http://confluence.jetbrains.net/display/Kotlin/Extension+functions">extension functions</a>
   </p>
  <p><a class="btn" href="http://confluence.jetbrains.net/display/Kotlin/Welcome">Documentation &raquo;</a></p>
</div>
<div class="span4">
  <h2>Use</h2>
  <p>Get started using Kotlin in IDEA</p>
  <p><a class="btn" href="http://confluence.jetbrains.net/display/Kotlin/Getting+Started">Get Started &raquo;</a></p>
</div>
</div>