<?xml version="1.0" encoding="utf-8"?>
<!-- package name must be unique so suffix with "tests" so package loader doesn't ignore us -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.jetbrains.jet.compiler.android"
          android:versionCode="1"
          android:versionName="1.0">
  <!-- We add an application tag here just so that we can indicate that
this package needs to link against the android.test library,
which is needed when building test cases. -->
  <application>
    <uses-library android:name="android.test.runner" />
  </application>
  <!--
  This declares that this application uses the instrumentation test runner targeting
  the package of com.example.  To execute the tests use the command:
  "adb shell am instrument -w com.example.tests/android.test.InstrumentationTestRunner"
  -->
  <instrumentation android:name="android.test.InstrumentationTestRunner"
                   android:targetPackage="org.jetbrains.jet.compiler.android"
                   android:label="Tests for org.jetbrains.jet.compiler.android"/>
</manifest>
