<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.jetbrains.kotlin.android.tests"
          android:versionCode="1"
          android:versionName="1.0">
  <application>
    <uses-library android:name="android.test.runner" />
  </application>
  <!--
  This declares that this application uses the instrumentation test runner targeting
  the package of com.example.  To execute the tests use the command:
  "adb shell am instrument -w com.example.tests/android.test.InstrumentationTestRunner"
  -->
  <instrumentation android:name="android.test.InstrumentationTestRunner"
                   android:targetPackage="org.jetbrains.kotlin.android.tests"
                   android:label="Tests for org.jetbrains.kotlin.android.tests"/>
</manifest>
