<component name="libraryTable">
  <library name="Log4J" type="repository">
    <properties maven-id="log4j:log4j:1.2.17" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/log4j/log4j/1.2.17/log4j-1.2.17.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$MAVEN_REPOSITORY$/log4j/log4j/1.2.17/log4j-1.2.17-sources.jar!/" />
    </SOURCES>
  </library>
</component>