<?xml version="1.0" encoding="UTF-8"?>
<component name="libraryTable">
  <library name="TestNG" type="repository">
    <properties maven-id="org.testng:testng:6.8.21">
      <exclude>
        <dependency maven-id="org.beanshell:bsh" />
      </exclude>
    </properties>
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/testng/testng/6.8.21/testng-6.8.21.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/beust/jcommander/1.27/jcommander-1.27.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$MAVEN_REPOSITORY$/org/testng/testng/6.8.21/testng-6.8.21-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/beust/jcommander/1.27/jcommander-1.27-sources.jar!/" />
    </SOURCES>
  </library>
</component>