when (n) {
    1 -> {
        res = "one"
    }
    2 -> {
        res = "two"
    }
    3 -> {
        res = "three"
    }
    4 -> {
        res = "four"
    }
    else -> {
        res = "???"
    }
}