<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.jetbrains.konan.KotlinNativeSupportingFiles</string>
    <key>Name</key>
    <string>Supporting Files</string>
    <key>Concrete</key>
    <false/>
    <key>SortOrder</key>
    <integer>1</integer>
    <key>Nodes</key>
    <array>
      <string>build.gradle.kts</string>
      <string>gradlew</string>
      <string>gradle/wrapper/gradle-wrapper.properties</string>
      <string>gradle/wrapper/gradle-wrapper.jar</string>
      <string>settings.gradle.kts</string>
    </array>
    <key>Definitions</key>
    <dict>
      <key>build.gradle.kts</key>
      <dict>
        <key>Path</key>
        <string>build.gradle.kts</string>
      </dict>
      <key>gradlew</key>
      <dict>
        <key>Path</key>
        <string>gradlew</string>
      </dict>
      <key>gradle/wrapper/gradle-wrapper.properties</key>
      <dict>
        <key>Path</key>
        <string>gradle/wrapper/gradle-wrapper.properties</string>
        <key>Group</key>
        <array>
          <string>gradle</string>
          <string>wrapper</string>
        </array>
      </dict>
      <key>gradle/wrapper/gradle-wrapper.jar</key>
      <dict>
        <key>Path</key>
        <string>gradle/wrapper/gradle-wrapper.jar</string>
        <key>Group</key>
        <array>
          <string>gradle</string>
          <string>wrapper</string>
        </array>
      </dict>
      <key>settings.gradle.kts</key>
      <dict>
        <key>Path</key>
        <string>settings.gradle.kts</string>
      </dict>
    </dict>
  </dict>
</plist>
