.chart {
  height: 400px;
}
.ct-legend {
  position: relative;
  z-index: 10;
  list-style: none;
  text-align: center;
}
.ct-legend li {
  position: relative;
  padding-left: 23px;
  margin-right: 10px;
  margin-bottom: 3px;
  cursor: pointer;
  display: inline-block;
}
.ct-legend li:before {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  content: '';
  border: 3px solid transparent;
  border-radius: 2px;
}
.ct-legend li.inactive:before {
  background: transparent;
}
.ct-legend.ct-legend-inside {
  position: absolute;
  top: 0;
  right: 0;
}
.ct-legend.ct-legend-inside li{
  display: block;
  margin: 0;
}
.ct-legend .ct-series-0:before {
  background-color: #d70206;
  border-color: #d70206;
}
.ct-legend .ct-series-1:before {
  background-color: gold;
  border-color: gold;
}
.ct-legend .ct-series-2:before {
  background-color: mediumorchid;
  border-color: mediumorchid;
}
.ct-legend .ct-series-3:before {
  background-color: #d17905;
  border-color: #d17905;
}
.ct-legend .ct-series-4:before {
  background-color: #453d3f;
  border-color: #453d3f;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
  /* Set the colour of this series line */
  stroke: gold;
}

.ct-series-c .ct-line,
.ct-series-c .ct-point {
  /* Set the colour of this series line */
  stroke: mediumorchid;
}