/*
 * Copyright 2009 Red Hat, Inc.
 *
 * Red Hat licenses this file to you under the Apache License, version 2.0
 * (the "License"); you may not use this file except in compliance with the
 * License.  You may obtain a copy of the License at:
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
 
/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body {
  background-color: #FFFFFF;
  background-image:url(resources/bkg_gradient.gif);
  background-repeat: repeat-x;
  margin:0 auto;
  font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
  font-size:12px;
  padding:0em 1em;
  color:#333;

 }

/* Common elements */

font {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit; }

hr {
  border-top: 1px solid #E6E7E8;
  border-bottom: 0 none;
}

tt, tt *, pre, pre *, code, code * {
  font-family: "Liberation Mono", "DejaVu Sans Mono", Consolas, Monaco, "Vera Sans Mono", "Lucida Console", "Courier New", monospace !important;
}
a:link { color:#0066cc; }
a:visited { color:#8b5caf; }
a:hover { color:#6699cc; }


/* Headings */
h1 {
  font-size: 145%;
  border-top:1px dotted #CCCCCC;
  line-height:1.2em;
  color:#182737;
  font-size:2em;
  padding:1.5em;
  margin-top: 0px;
  text-align:left;
}


/* Default Table elements and colors */

th, table { border-collapse:collapse;border-color: #E6E7E8; }


.TableHeadingColor {
  background:#000000 url(resources/bkg_blkheader.png) repeat-x scroll left top;
  color:#FFFFFF;
  font-size:12px;
  font-weight:bold;
  height:31px;
  text-align:left;
  padding:1.5em;
}

.TableHeadingColor th {
  padding-left: 10px;
}


.TableSubHeadingColor { background: #EEEEFF } /* Light mauve */
.TableRowColor { background: #FFFFFF; border-color: #E6E7E8;}
.TableRowColor td { line-height: 175%; padding-left: 10px;}

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 125%; font-family: Helvetica, Arial, sans-serif; font-weight: bold; margin-top: 1em; display: block; }
.FrameHeadingFont { font-size: 125%; font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif; font-weight: bold; margin-top: 1em; display: block;  }
.FrameItemFont    { font-size: 100%; font-family: Helvetica, Arial, sans-serif }

/* Navigation bar fonts and colors */

.NavBarCell1 { background-color: #ffffff;
  background-image:url(resources/bkgheader.png);
  background-repeat: repeat-x scroll left top;
  line-height:2em;
  padding-left:6px;
  padding-right:6px;
}

.NavBarFont1 {
  color: white;
}
.NavBarCell1 a {
  color: white;
}


.NavBarCell1Rev { background-color:#FFFFFF; padding-left:6px; padding-right:6px;}
.NavBarFont1    { color:#FFFFFF;}
.NavBarFont1Rev { color:#243446;}

.NavBarCell2    { background-color:#FFFFFF;}
.NavBarCell3    { background-color:#FFFFFF;}

div.doc-member.function {
  border-bottom: 1px solid #E6E7E8;
}
div.source-detail {
  float:right;
}