ios-app/Pods
Podfile.lock
kotlin-library/kotlin_library.podspec
second-library/second_library.podspec
ios-app/ios-app.xcodeproj/xcuserdata
ios-app/ios-app.xcworkspace/xcuserdata
ios-app/ios-app.xcodeproj/project.xcworkspace/xcuserdata
ios-app/ios-app.xcworkspace/contents.xcworkspacedata
ios-app/ios-app.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist