# Check-out https://www.jetbrains.com/help/space/code-owners.html#codeowners-file-syntax
# This file is checked by org.jetbrains.kotlin.code.SpaceCodeOwnersTest
# Directive OWNER_LIST specifies possible values for owner field
# Directive UNKNOWN specifies that path is unclaimed
# Ownership must be exhaustive modulo UNKNOWN

# OWNER_LIST: "JetBrains / Kotlin"
# OWNER_LIST: "JetBrains / Kotlin / Kotlin Libraries"
# OWNER_LIST: "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
# OWNER_LIST: "JetBrains / Kotlin / Kotlin Compiler Core"
# OWNER_LIST: "JetBrains / Kotlin / Kotlin Build Infrastructure" "JetBrains / Kotlin / Kotlin Build Tools"
# OWNER_LIST: "JetBrains / IntelliJ / Idea / Kotlin IDE"
# OWNER_LIST: "JetBrains / Kotlin / Kotlin Release"
# OWNER_LIST: "JetBrains / Kotlin / Kotlin Multiplatform"
# OWNER_LIST: Mikhail.Glukhikh
# OWNER_LIST: Yan.Zhulanow
# OWNER_LIST: Alexander.Udalov
# Kotlin Libraries
# OWNER_LIST: A.Qurbonzoda Vsevolod.Tolstopyato Ilya.Gorbunov Sergey.Shanshin Leonid.Startsev

# Fallback rule, must always be top
* "JetBrains / Kotlin"

/.idea/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

/.space/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

/analysis/ "JetBrains / IntelliJ / Idea / Kotlin IDE"

# UNKNOWN: /android-studio/

# UNKNOWN: /annotations/

/ant/ "JetBrains / Kotlin / Kotlin Build Tools"

/benchmarks/ "JetBrains / Kotlin / Kotlin Compiler Core"

/build-common/ "JetBrains / Kotlin / Kotlin Build Tools"

/buildSrc/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

/compiler/android-tests/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/backend/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/backend.common.jvm/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/backend-common/ "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/compiler/builtins-serializer/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/cli/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/compiler.version/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/compiler-runner/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/compiler-runner-unshaded/ "JetBrains / Kotlin / Kotlin Build Tools"
/compiler/config/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/config.jvm/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/container/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/daemon/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/fir/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/frontend/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/frontend.common/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/frontend.common.jvm/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/frontend.common-psi/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/frontend.java/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/incremental-compilation-impl/ "JetBrains / Kotlin / Kotlin Build Tools"
/compiler/ir/backend.common/ "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/compiler/ir/backend.js/ "JetBrains / Kotlin / Kotlin JS"
/compiler/ir/backend.jvm/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/ir/backend.wasm/ "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/compiler/ir/ir.interpreter/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/ir/ir.ir2cfg/ Mikhail.Glukhikh
/compiler/ir/ir.psi2ir/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/ir/ir.tree/ "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/compiler/ir/serialization.common/ "JetBrains / Kotlin / Kotlin Native"
/compiler/ir/serialization.js/ "JetBrains / Kotlin / Kotlin JS"
/compiler/ir/serialization.jvm/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/javac-wrapper/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/light-classes/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/plugin-api/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/preloader/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/psi/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/resolution/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/resolution.common/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/resolution.common.jvm/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/serialization/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/test-infrastructure/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/test-infrastructure-utils/ "JetBrains / Kotlin / Kotlin Compiler Core"

/compiler/testData/asJava/annotations/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/asJava/findClasses/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/asJava/lightClasses/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/asJava/lightClassStructure/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/asJava/script/ "JetBrains / IntelliJ / Idea / Kotlin IDE"
/compiler/testData/asJava/ultraLightClasses/ "JetBrains / IntelliJ / Idea / Kotlin IDE"
/compiler/testData/asJava/ultraLightFacades/ "JetBrains / IntelliJ / Idea / Kotlin IDE"
/compiler/testData/asJava/ultraLightScripts/ "JetBrains / IntelliJ / Idea / Kotlin IDE"
/compiler/testData/binaryCompatibility/klibEvolution/ "JetBrains / Kotlin / Kotlin Native"
/compiler/testData/builtin-classes/ "JetBrains / Kotlin / Kotlin Libraries"
/compiler/testData/capturedTypeApproximation/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/cfg/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/cfg-variables/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/cfgVariablesWithStdLib/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/cfgWithStdLib/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/checkLocalVariablesTable/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/classpathOrder/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/cli/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/cli/js/ "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/cli/js-dce/ "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/cli/jvm/ "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/cli/metadata/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/codegen/asmLike/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/box/ "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/compiler/testData/codegen/boxError/ "JetBrains / Kotlin / Kotlin JS"
/compiler/testData/codegen/boxInline/ "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/compiler/testData/codegen/boxKlib/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/boxModernJdk/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/boxWasmJsInterop/ "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/compiler/testData/codegen/bytecodeListing/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/bytecodeText/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/composeLike/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/composeLikeBytecodeText/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/customScript/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/codegen/defaultArguments/reflection/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/dumpDeclarations/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/helpers/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/innerClassInfo/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/java6/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/kapt/ "JetBrains / Kotlin / Kotlin Compiler Core"
# UNKNOWN: /compiler/testData/codegen/light-analysis/
/compiler/testData/codegen/notNullAssertions/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/outerClassInfo/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/properties/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/codegen/reflection/ "JetBrains / Kotlin / Kotlin Libraries"
/compiler/testData/codegen/script/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/codegen/scriptCustom/ "JetBrains / Kotlin / Kotlin Compiler Core"
# UNKNOWN: /compiler/testData/codegen/sourceInfo/
/compiler/testData/codegen/topLevelMemberInvocation/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/compileJavaAgainstKotlin/ "JetBrains / Kotlin / Kotlin Compiler Core" "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/compileKotlinAgainstCustomBinaries/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/compileKotlinAgainstJava/ "JetBrains / Kotlin / Kotlin Compiler Core" "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/compiler/smoke/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/debug/ "JetBrains / Kotlin / Kotlin Compiler Core" "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/diagnostics/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/friendPaths/ "JetBrains / Kotlin / Kotlin Compiler Core"
# UNKNOWN: /compiler/testData/integration/
/compiler/testData/ir/closureAnnotator/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/ir/interpreter/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/ir/irCfg/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/ir/irJsText/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/ir/irText/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/ir/klibLayout/ "JetBrains / Kotlin / Kotlin Native"
/compiler/testData/ir/loweredIr/interpreter/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/ir/sourceRanges/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/javaModules/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/klibABI/ "JetBrains / Kotlin / Kotlin Native"
/compiler/testData/kotlinClassFinder/ "JetBrains / Kotlin / Kotlin Compiler Core"
# UNKNOWN: /compiler/testData/launcher/
/compiler/testData/lexer/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/loadJava/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/loadJava8/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/loadJava17/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/loadJavaPackageAnnotations/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/mockJDK/ "JetBrains / Kotlin / Kotlin Build Infrastructure"
/compiler/testData/mockJDK9/ "JetBrains / Kotlin / Kotlin Build Infrastructure"
/compiler/testData/mockJDKModified/ "JetBrains / Kotlin / Kotlin Build Infrastructure"
/compiler/testData/moduleProtoBuf/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/modules.xml/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/multiModule/ "JetBrains / Kotlin / Kotlin Compiler Core"
# UNKNOWN: /compiler/testData/multiplatform/
/compiler/testData/parseCodeFragment/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/psi/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/psiUtil/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/recursiveProcessor/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/reflection/classLoaderForBuiltIns/ "JetBrains / Kotlin / Kotlin Libraries"
/compiler/testData/repl/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/resolve/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/resolveAnnotations/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/resolveConstructorDelegationCalls/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/resolvedCalls/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/serialization/builtinsSerializer/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/serialization/js/ "JetBrains / Kotlin / Kotlin JS"
/compiler/testData/serialization/nonStableParameterNames/ "JetBrains / Kotlin / Kotlin Native"
/compiler/testData/type/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/typeQualifierNickname/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/versionRequirement/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/writeFlags/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/writeSignature/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/testData/type-checker-test.kt "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/testData/type-substitutor.kt "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/tests/ "JetBrains / Kotlin / Kotlin Compiler Core" "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/compiler/tests/org/jetbrains/kotlin/klib/ "JetBrains / Kotlin / Kotlin Native"
/compiler/tests-against-klib/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/tests-common/ "JetBrains / Kotlin / Kotlin Compiler Core" "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/compiler/tests-common-new/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/tests-compiler-utils/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/tests-different-jdk/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/tests-for-compiler-generator/ "JetBrains / Kotlin / Kotlin Compiler Core" "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/compiler/tests-gen/ "JetBrains / Kotlin / Kotlin Compiler Core" "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/compiler/tests-java8/ "JetBrains / Kotlin / Kotlin JVM"
/compiler/tests-mutes/ "JetBrains / Kotlin / Kotlin Build Infrastructure"
/compiler/tests-spec/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/util/ "JetBrains / Kotlin / Kotlin Compiler Core"
/compiler/util-io/ "JetBrains / Kotlin / Kotlin Native"
/compiler/util-klib/ "JetBrains / Kotlin / Kotlin Native"
/compiler/util-klib-metadata/ "JetBrains / Kotlin / Kotlin Native"
/compiler/visualizer/ "JetBrains / Kotlin / Kotlin Compiler Core"

/core/builtins/ "JetBrains / Kotlin / Kotlin Compiler Core"
/core/compiler.common/ "JetBrains / Kotlin / Kotlin Compiler Core"
/core/compiler.common.jvm/ "JetBrains / Kotlin / Kotlin Compiler Core"
/core/descriptors/ "JetBrains / Kotlin / Kotlin Compiler Core"
/core/descriptors.jvm/ "JetBrains / Kotlin / Kotlin Compiler Core"
/core/descriptors.runtime/ "JetBrains / Kotlin / Kotlin Libraries"
/core/deserialization/ "JetBrains / Kotlin / Kotlin Compiler Core"
/core/deserialization.common/ "JetBrains / Kotlin / Kotlin Compiler Core"
/core/deserialization.common.jvm/ "JetBrains / Kotlin / Kotlin Compiler Core"
/core/metadata/ "JetBrains / Kotlin / Kotlin Compiler Core"
/core/metadata.jvm/ "JetBrains / Kotlin / Kotlin JVM"
/core/reflection.jvm/ "JetBrains / Kotlin / Kotlin Libraries"
/core/script.runtime/ "JetBrains / Kotlin / Kotlin Compiler Core"
/core/util.runtime/ "JetBrains / Kotlin / Kotlin Compiler Core"

/dependencies/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

# UNKNOWN: /docs/

/generators/analysis-api-generator/ "JetBrains / IntelliJ / Idea / Kotlin IDE"
/generators/builtins/ A.Qurbonzoda Vsevolod.Tolstopyato Ilya.Gorbunov
/generators/evaluate/ "JetBrains / Kotlin / Kotlin Compiler Core"
/generators/ide-iml-to-gradle-generator/ "JetBrains / Kotlin / Kotlin Build Infrastructure"
/generators/interpreter/ "JetBrains / Kotlin / Kotlin JVM"
/generators/main/ "JetBrains / Kotlin / Kotlin Build Infrastructure"
/generators/nativeInteropRuntime/ "JetBrains / Kotlin / Kotlin Native"
/generators/protobuf/ "JetBrains / Kotlin / Kotlin Build Infrastructure"
# UNKNOWN: /generators/protobufCompare/
/generators/test-generator/ "JetBrains / Kotlin / Kotlin Compiler Core" "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/generators/tests/ "JetBrains / Kotlin / Kotlin Compiler Core" "JetBrains / Kotlin / Kotlin JVM" "JetBrains / Kotlin / Kotlin JS" "JetBrains / Kotlin / Kotlin Native" "JetBrains / Kotlin / Moonshots / Kotlin Wasm"
/generators/wasm/ "JetBrains / Kotlin / Moonshots / Kotlin Wasm"

/gradle/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

# UNKNOWN: /idea/

/jps/ "JetBrains / Kotlin / Kotlin Build Tools"

/js/ "JetBrains / Kotlin / Kotlin JS"

/kotlin-js-store/ "JetBrains / Kotlin / Kotlin JS"

/kotlin-native/ "JetBrains / Kotlin / Kotlin Native"
/kotlin-native/runtime/src/main/kotlin/ "JetBrains / Kotlin / Kotlin Native" A.Qurbonzoda Vsevolod.Tolstopyato Ilya.Gorbunov
/kotlin-native/licenses/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

/libraries/examples/annotation-processor-example/ "JetBrains / Kotlin / Kotlin Compiler Core"
/libraries/examples/browser-example/ "JetBrains / Kotlin / Kotlin JS"
/libraries/examples/browser-example-with-library/ "JetBrains / Kotlin / Kotlin JS"
/libraries/examples/js-example/ "JetBrains / Kotlin / Kotlin JS"
/libraries/examples/kotlin-gradle-subplugin-example/ "JetBrains / Kotlin / Kotlin Compiler Core"
/libraries/examples/kotlin-java-example/ "JetBrains / Kotlin / Kotlin JVM"
/libraries/examples/kotlin-js-library-example/ "JetBrains / Kotlin / Kotlin JS"
/libraries/examples/kotlin-jsr223-daemon-local-eval-example/ "JetBrains / Kotlin / Kotlin Compiler Core"
/libraries/examples/kotlin-jsr223-local-example/ "JetBrains / Kotlin / Kotlin Compiler Core"
/libraries/examples/scripting/ "JetBrains / Kotlin / Kotlin Compiler Core"
/libraries/kotlin.test/ A.Qurbonzoda Vsevolod.Tolstopyato Ilya.Gorbunov
/libraries/kotlinx-metadata/ Alexander.Udalov A.Qurbonzoda Vsevolod.Tolstopyato Ilya.Gorbunov
/libraries/lib/ "JetBrains / Kotlin / Kotlin Build Infrastructure"
/libraries/reflect/ A.Qurbonzoda Vsevolod.Tolstopyato Ilya.Gorbunov
/libraries/scripting/ "JetBrains / Kotlin / Kotlin Compiler Core"
/libraries/stdlib/ A.Qurbonzoda Vsevolod.Tolstopyato Ilya.Gorbunov

/libraries/tools/atomicfu/ "JetBrains / Kotlin / Kotlin Libraries"
/libraries/tools/binary-compatibility-validator/ "JetBrains / Kotlin / Kotlin Libraries"
/libraries/tools/dukat/ "JetBrains / Kotlin / Kotlin JS"
/libraries/tools/gradle/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-allopen/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-annotation-processing/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-annotation-processing-maven/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-annotations-jvm/ "JetBrains / Kotlin / Kotlin Libraries"
/libraries/tools/kotlin-assignment/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-bom/ "JetBrains / Kotlin / Kotlin Build Infrastructure"
/libraries/tools/kotlin-dist-for-jps-meta/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-build-metrics/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-compiler-types/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-annotations/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-api/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-dsl-codegen/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-idea/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-idea-for-compatibility-tests/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-idea-proto/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-integration-tests/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-kpm-android/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-model/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-npm-versions-codegen/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-plugin-test-utils-embeddable/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-gradle-statistics/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-lombok/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-main-kts/ "JetBrains / Kotlin / Kotlin Compiler Core"
/libraries/tools/kotlin-main-kts-test/ "JetBrains / Kotlin / Kotlin Compiler Core"
/libraries/tools/kotlin-maven-allopen/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-maven-lombok/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-maven-noarg/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-maven-plugin/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-maven-plugin-test/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-maven-sam-with-receiver/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-maven-serialization/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-osgi-bundle/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-noarg/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-prepush-hook/ "JetBrains / Kotlin / Kotlin Build Infrastructure"
/libraries/tools/kotlin-project-model/ "JetBrains / Kotlin / Kotlin Multiplatform"
/libraries/tools/kotlin-project-model-tests-generator/ "JetBrains / Kotlin / Kotlin Multiplatform"
/libraries/tools/kotlin-sam-with-receiver/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-script-util/ "JetBrains / Kotlin / Kotlin Compiler Core"
/libraries/tools/kotlin-serialization/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-serialization-unshaded/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-stdlib-docs/ A.Qurbonzoda Vsevolod.Tolstopyato Ilya.Gorbunov
/libraries/tools/kotlin-stdlib-gen/ A.Qurbonzoda Vsevolod.Tolstopyato Ilya.Gorbunov
/libraries/tools/kotlin-test-js-runner/ A.Qurbonzoda Vsevolod.Tolstopyato Ilya.Gorbunov
/libraries/tools/kotlin-tooling-core/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlin-tooling-metadata/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/kotlinp/ "JetBrains / Kotlin / Kotlin JVM"
/libraries/tools/maven-archetypes/ "JetBrains / Kotlin / Kotlin Build Tools"
/libraries/tools/mutability-annotations-compat/ "JetBrains / Kotlin / Kotlin Libraries"
/libraries/tools/script-runtime/ "JetBrains / Kotlin / Kotlin Compiler Core"

/libraries/maven-settings.xml "JetBrains / Kotlin / Kotlin Build Infrastructure"
/libraries/pom.xml "JetBrains / Kotlin / Kotlin Build Infrastructure"
/libraries/ReadMe.md A.Qurbonzoda Vsevolod.Tolstopyato Ilya.Gorbunov

/license/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

/native/ "JetBrains / Kotlin / Kotlin Native"
/native/commonizer/ "JetBrains / Kotlin / Kotlin Multiplatform"
/native/commonizer-api/ "JetBrains / Kotlin / Kotlin Multiplatform"
/native/commonizer-embeddable/ "JetBrains / Kotlin / Kotlin Multiplatform"

/plugins/allopen/ "JetBrains / Kotlin / Kotlin Compiler Core"
/plugins/android-extensions/ "JetBrains / Kotlin / Kotlin Compiler Core"
/plugins/assign-plugin/ "JetBrains / Kotlin / Kotlin Compiler Core"
/plugins/atomicfu/ "JetBrains / Kotlin / Kotlin Libraries"
/plugins/fir-plugin-prototype/ "JetBrains / Kotlin / Kotlin Compiler Core"
/plugins/imports-dumper/ "JetBrains / Kotlin / Kotlin Compiler Core"
/plugins/jvm-abi-gen/ "JetBrains / Kotlin / Kotlin JVM"
/plugins/kapt3/ "JetBrains / Kotlin / Kotlin Compiler Core"
/plugins/kotlinx-serialization/ Sergey.Shanshin Leonid.Startsev
/plugins/lombok/ "JetBrains / Kotlin / Kotlin Compiler Core"
/plugins/noarg/ "JetBrains / Kotlin / Kotlin Compiler Core"
/plugins/parcelize/ "JetBrains / Kotlin / Kotlin Compiler Core"
/plugins/pill/ Yan.Zhulanow "JetBrains / Kotlin / Kotlin Build Infrastructure"
/plugins/sam-with-receiver/ "JetBrains / Kotlin / Kotlin Compiler Core"
/plugins/scripting/ "JetBrains / Kotlin / Kotlin Compiler Core"

/prepare/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

/repo/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

/resources/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

# UNKNOWN: /spec-docs/

/test-instrumenter/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

/tests/ "JetBrains / Kotlin / Kotlin Build Infrastructure"

/third-party/ "JetBrains / Kotlin / Kotlin Compiler Core"

/wasm/ "JetBrains / Kotlin / Moonshots / Kotlin Wasm"

# Singular files
/.bunch "JetBrains / Kotlin / Kotlin Build Infrastructure"
/.gitattributes "JetBrains / Kotlin / Kotlin Build Infrastructure"
/.space.kts "JetBrains / Kotlin / Kotlin Build Infrastructure"
/ChangeLog.md "JetBrains / Kotlin / Kotlin Release"
/CODE_OF_CONDUCT.md "JetBrains / Kotlin / Kotlin Build Infrastructure"
/dev-env-warmup.sh "JetBrains / Kotlin / Kotlin Build Infrastructure"
/ReadMe.md "JetBrains / Kotlin / Kotlin Build Infrastructure"
/SECURITY.md "JetBrains / Kotlin / Kotlin Build Infrastructure"

# Build files
**.gradle.kts "JetBrains / Kotlin / Kotlin Build Infrastructure"
**.gradle "JetBrains / Kotlin / Kotlin Build Infrastructure"
.gitignore "JetBrains / Kotlin / Kotlin Build Infrastructure"
gradlew "JetBrains / Kotlin / Kotlin Build Infrastructure"
gradlew.bat "JetBrains / Kotlin / Kotlin Build Infrastructure"

/gradle.properties "JetBrains / Kotlin / Kotlin Build Infrastructure"

/.space/CODEOWNERS "JetBrains / Kotlin / Kotlin Build Infrastructure"