{
  "name": "$kotlinNpmToolingName",
  "version": "$version",
  "private": true,
  "devDependencies": {},
  "dependencies": {
      #set($dependenciesList ="")
      #set($separator="")
      #foreach($item in $dependencies)
          #set($dependenciesList = $dependenciesList + $separator + $item)
          #set($separator = ",$newline")
      #end
$dependenciesList
  },
  "peerDependencies": {},
  "optionalDependencies": {},
  "bundledDependencies": []
}
